#login-container {
  background-color: white;
}

#signup-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#signup-link {
  color: #a6032f;
}

#signup-link:hover {
  color: #f23535;
  text-decoration: underline;
}

