.component-container {
  width: 75vw;
  background-color: #402d32;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 11px;
  border-radius: 7px;
  margin-top: 0;
}

table {
  background-color: white;
}

.table-header {
  text-align: center;
  font-weight: 700;
  background-color: white;
  margin-bottom: 0;
  font-size: 1.1rem;
}


.med-name-button {
  background-color: transparent;
  border: none;
}

.med-name-button:hover {
  text-decoration: underline;
}

.med-name-button:focus {
  outline: none;
}


thead {
  background-color: rgba(131, 166, 8, 0.2);
}

