#manage-meds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#add-med-button {
  background-color: #84a608;
  color: black;
  border: solid #84a608;
  box-shadow: 2px 2px 2px 0px #402d32;
  width: 17vw;
  border-radius: 10px
}

#add-med-button:hover {
  background-color:#f23535;
  border: solid #f23535;
  color: white;
}

.bubble {
    position: relative;
    background: linear-gradient(-133deg, #f2f2f2 12%, #f23535 86%);
    color: black;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    box-shadow: 2px 2px 2px 0px rgba(166, 3, 47, 0.84);
    text-align: center;
    width: 250px;
    height:60px;
    border-radius: 29px;
    padding: 7px;
  }
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 21px 21px 0;
    border-color: transparent #f23535 transparent transparent;
    bottom: -21px;
    left: 15%;
    margin-left: -6.5px;
}

#info-row {
  width: 100vw;
}