.full-calendar {
    font-family: sans-serif;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 1px;
}

.fc-day-today {
  background: #84a608 !important;
  opacity: 30%;
}

.fc-button {
  background-color: #a6032f !important;
}

.fc-today-button {
  background-color: #84a608 !important;
}

.fc-button-active {
  background-color: #d90842 !important;
}

.fc-prev-button, .fc-next-button {
  background-color: #402d32 !important;
}

.fc-highlight {
  background-color: #f23535!important;
}
