#logout-button {
  background-color: #f2f2f2;
  border: none;
  color: #a6032f;
  width: 7vw;
  margin-top: 9.5vh;
  margin-bottom: 3vh;
}

#logout-button:hover {
  background-color: #84a608;;
  box-shadow:  3px 3px 5px #f2f2f2;
}