#navbird {
  height: 15vh;
}

.navbar{
  width: 100vw!important;
}

.nav-icons {
  height: 10vh;
  border: solid #f23535;
  border-radius: 20px;
  padding: 7px;
}

#navbar-container {
  display: flex; 
  flex-direction: row;
}