#notes-container {
  border: 20px solid #f23535;
  background-color: #f23535;
  max-height: 75vh;
}

#notes-listgroup {
  display: flex;
  flex-direction: column-reverse;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#new-note-box {
  background-color:#a6032f;
  height: 20vh;
  border-radius: 10px;
}

#new-note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 15vh; */
}

.name-field {
  font-size: .75rem;
  width: 10vw;
}

.message-field {
  font-size: .75rem;
  width: 20vw;
}

